Listázzuk azon vendégek nevét és email-címét, akik az 1990-es év második felében születtek! 

a. Rendezzük a listát a születés hónapja szerint növekvő sorrendbe!

In [6]:
SELECT NEV, EMAIL, SZUL_DAT
FROM Vendeg
WHERE LEFT(SZUL_DAT, 4)= 1990 AND RIGHT(LEFT(SZUL_DAT,7),2) >05
ORDER BY SZUL_DAT ASC

NEV,EMAIL,SZUL_DAT
Ötvös Árpád,árpád.ötvös@mail.hu,1990-06-08
Bodor Szabolcs,szabolcs.bodor@mail.hu,1990-07-16
Bosnyák Ilona,ilona3@gmail.com,1990-08-06
Szabó Julianna,julianna4@gmail.com,1990-09-29
Berta Dávid,david4@gmail.com,1990-10-08

Egészítse ki a megkezdett lekérdezést, amely megjeleníti, hogy hány klímás szobája van az egyes szálláshelyeknek! 

a. A listában a szálláshely azonosítója mellett jelenjen meg a szálláshely neve és a klímás szobák száma!

In [11]:
SELECT szh.SZALLAS_ID, szh.SZALLAS_NEV, COUNT(*)
 

FROM Szallashely szh JOIN Szoba sz ON szh.SZALLAS_ID = sz.SZALLAS_FK

WHERE sz.KLIMAS= 1

GROUP BY szh.SZALLAS_ID

: Msg 8120, Level 16, State 1, Line 1
Column 'Szallashely.SZALLAS_NEV' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

Készítsen lekérdezést, amely az ügyfeleket születési idejük alapján kategóriákba sorolja (1985-ben vagy utána születettek: fiatal, 1970 előtt születettek: idős, a többiek: középkorú), majd megjeleníti, hogy melyik kategóriában hány foglalás történt!

a. Csak a kategória neve és a foglalásszám jelenjen meg

b. A számolás során csak azokat a foglalásokat vegyük figyelembe, amelyek legalább 2 főre történtek!

In [23]:
SELECT COUNT(*),
    CASE WHEN LEFT(SZUL_DAT, 4)> 1985 THEN 'FIATAL'
         WHEN LEFT(SZUL_DAT, 4) BETWEEN 1985 AND 1970 THEN 'KÖZÉPKORÚ'
         ELSE 'IDŐS'
    END AS 'KOROK' FROM Vendeg, Foglalas
    GROUP BY Foglalas.UGYFEL_FK

: Msg 8120, Level 16, State 1, Line 2
Column 'Vendeg.SZUL_DAT' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

: Msg 8120, Level 16, State 1, Line 3
Column 'Vendeg.SZUL_DAT' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

: Msg 8120, Level 16, State 1, Line 3
Column 'Vendeg.SZUL_DAT' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.